
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Başarılı!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertMessage"]
    </div>
    <br />
}
<html lang="en">
<body>
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>

    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-secondary card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Blog Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v1</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Sizin Blog Sayınız<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v2</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Kategori Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v3</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Medikal Ürün Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v4</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Sizin Medikal Ürün Sayınız<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v5</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Ürün Kategori Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v6</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-secondary card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Makale Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v7</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Makale Sayınız<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v8</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-primary card-img-holder text-white">
                <div class="card-body">
                    <img src="~/Writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Makale Kategorisi Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.v9</h2>
                    <h6 class="card-text">Sağlık Proje</h6>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("BlogListDashboard")

    @await Component.InvokeAsync("ProductListDashboard")

    @await Component.InvokeAsync("ArticlesListDashboard")

    @await Component.InvokeAsync("WriterAboutOnDashboard")

    @await Component.InvokeAsync("CategoryListDashboard")

    @await Component.InvokeAsync("CategoryListDashboardArticle")

    @await Component.InvokeAsync("CategoryListDashboardProduct")

</body>
</html>