@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.Message>
@{
    ViewData["Title"] = "InBoxSend";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<head>

    <link href="~/Admin/stylemes.css" rel="stylesheet">
    <link href="~/Admin/font-awesome.css" rel="stylesheet">

</head>

<div id="wrapper">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <div class="space-25"></div>
                            <h5>Dosyalar</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Message/InBox/"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right" style="width:16px; text-align:center;">@ViewBag.InboxR</span> </a></li>
                                <li><a href="/Message/InBoxSend/"> <i class="fa fa-envelope-o"></i> Gönderilenler <span class="label label-warning float-right" style="width:16px; text-align:center;">@ViewBag.InboxRS</span> </a></li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">


                    <h2>
                        Giden Kutusu (@ViewBag.InboxRS) <small> >@ViewData["CurrentFilterSearch"]</small>
                    </h2>
                    <div>
                        <form class="d-flex align-items-center h-100" method="get">
                            <div class="input-group">
                                <div class="input-group-prepend bg-transparent">
                                    <i style="color:black;" class="input-group-text border-0 mdi mdi-magnify"></i>
                                </div>
                                <input type="text" class="form-control bg-transparent border-0" value="@ViewData["CurrentFilterSearch"]" name="SearchString" placeholder="Ara...">
                            </div>
                        </form>
                    </div>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right fa">

                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("InBoxSend", new { page, SearchString = ViewData["CurrentFilterSearch"] }))



                        </div>
                        <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inboxsend" asp-action="InBoxSend" ><i class="fa fa-refresh"></i> Refresh</a>


                    </div>
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <tbody>

                            @foreach (var item in Model)
                            {


                            <tr class="read">
                                <td class="check-mail">
                                    <input type="checkbox" class="i-checks">
                                </td>
                                <td><img src="~/WriterImageFiles/@item.ReceiverUser.Image" /></td>
                                <td class="mail-ontact"><a href="/Message/MessageDetails/@item.MessageID">@item.ReceiverUser.NameSurname</a></td>
                                <td class="mail-subject"><a href="/Message/MessageDetails/@item.MessageID">@item.Subject</a></td>
                                <td class=""></td>
                                <td class="text-right mail-date">@item.MessageDate.ToShortDateString()</td>
                            </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>









