@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
<link href="~/inspinia-gh-pages/css/stylemes.css" rel="stylesheet">
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Bildirimler</h5>

        </div>
        <div class="ibox-content">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                        <th>Konu</th>
                        <th>Bildirim Türü</th>
                        <th>Bildirim Zamanı</th>


                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr class="alert alert-dismissable" style="background-color:@item.NotificationColor;">
                            <td style="@item.NotificationTypeSymbol"></td>
                            <td>
                                @item.NotificationDetails
                            </td>
                            <td>
                                @item.NotificationType
                            </td>
                            <td>
                                @item.NotificationTime.ToShortDateString()
                            </td>


                        </tr>
                    </tbody>

                }
            </table>
            @if (Model.Count > 20)
            {
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("AllNotification", new { page }))

            }

        </div>
    </div>
</div>






