@model EntityLayer.Concrate.ArticleCategory


@{
    ViewData["Title"] = "ArticleCategoryUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Güncelle</h1>
<br />
@using (Html.BeginForm("ArticleCategoryUpdate", "Category", FormMethod.Post))
{
   
    @Html.HiddenFor(x => x.ArticleCategoryID, new { @class = "form-control" })
    @Html.Label("Kategori Başlığı")
    @Html.TextBoxFor(x => x.ArticleCategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ArticleCategoryName)
    <br /> @Html.AntiForgeryToken()
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x => x.ArticleCategoryDescription, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ArticleCategoryDescription)
    <br />
    <button class="btn btn-info">Güncelle</button>
}

