@model EntityLayer.Concrate.Category
@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<h1>Kategori Güncelle</h1>
<br />
@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
  
    @Html.HiddenFor(x => x.CategoryID, new { @class = "form-control" })
    @Html.Label("Kategori Başlığı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />  @Html.AntiForgeryToken()
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x => x.CategoryDescription, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <button class="btn btn-info">Güncelle</button>
}

