@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<ul class="navbar-nav float-start me-auto">
    <li class="nav-item search-box">
        <a class="nav-link waves-effect waves-dark"
           href="javascript:void(0)">
            <i class="mdi mdi-magnify fs-4"></i>
        </a>
        <a>Ara</a>
        <form method="get" class="app-search position-absolute">
            <input type="text"
                   class="form-control"
                   placeholder="Search &amp; enter" value="@ViewData["CurrentFilterSearch"]" name="SearchString" />
            <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
        </form>
    </li>
</ul>
<br />
<br />
<br />
<h1>Blog Kategori <small>>@ViewData["CurrentFilterSearch"]</small></h1>
<br />
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>
            <a style="color:black;" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-SearchString="@ViewData["CurrentFilterSearch"]">Kategori Adı</a>
            @if (ViewData["CurrentSort"] != null)
            {


                @if (ViewData["CurrentSort"].ToString() == "Name")
                {
                    <i class="fas fa-arrow-up"></i>
                }
                else if (ViewData["CurrentSort"].ToString() == "NameDesc")
                {
                    <i class="fas fa-arrow-down"></i>
                }
            }
        </th>
        <th>
            <a style="color:black;" asp-action="Index" asp-route-sortOrder="@ViewData["AboutSortParam"]" asp-route-SearchString="@ViewData["CurrentFilterSearch"]">Kategori Açıklaması</a>

            @if (ViewData["CurrentSort"] != null)
            {
                @if (ViewData["CurrentSort"].ToString() == "About")
                {
                    <i class="fas fa-arrow-up"></i>
                }
                else if (ViewData["CurrentSort"].ToString() == "AboutDesc")
                {
                    <i class="fas fa-arrow-down"></i>
                }
            }
        </th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            @if (item.CategoryStatus == true)
            {
                <td>Aktif</td>
            }
            else
            {
                <td>Pasif</td>
            }

            <td><a href="/Admin/Category/CategoryDisable/@item.CategoryID/" class="btn btn-info">Pasif Yap</a></td>
            <td><a href="/Admin/Category/CategoryEnable/@item.CategoryID/" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="/Admin/Category/CategoryUpdate/@item.CategoryID/" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Admin/Category/AddCategory/" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, SearchString = ViewData["CurrentFilterSearch"], sortOrder = @ViewData["CurrentSort"] }))

