@model HealthProject.Models.AddProfileImage
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Başarısız!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertMessage"]
    </div>
    <br />
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profilini ve Ayarlarını Düzenle</h4>
            <br />
            @using (Html.BeginForm("WriterEditProfile", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })
                        <label for="WriterName">İsim Soyisim</label>
                        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="WriterMail">Email</label>
                        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", disabled = "disabled" })
                    </div>
                    <div class="form-group">

                        @Html.HiddenFor(x => x.WriterImageString, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Yazar Görseli</label>
                        <div class="custom-file">
                            <input id="logo" type="file" name="WriterImage" class="custom-file-input">
                            <label for="logo" class="custom-file-label">Dosya Seç...</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="WriterAbout">Hakkında (Kısa)</label>
                        @Html.TextAreaFor(x => x.WriterAbout, 5, 3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="WriterVideoUrl">Hakkında Video (Ana Sayfa)</label>
                        @Html.TextBoxFor(x => x.WriterVideoUrl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.WriterVideoUrl, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <a href="/Dashboard/Index/" class="btn btn-outline-danger">İptal Et</a>

                </form>
            }
            <br />
            <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#myModal">
                Email Değiştir
            </button>

            <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#myModal2">
                Şifre Değiştir
            </button>
            <a href="/NewsLetter/SubscribeMailDeactiveByUser/" class="btn btn-primary" >
                Mail Bütleni Aboneliğini İptal Et
            </a>


            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Mail Adresini Değiştir</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        @using (Html.BeginForm("WriterEditEmail", "Writer", FormMethod.Post))
                        {
                            <div class="modal-body">
                                <label for="exampleInputName1">Email</label>
                                @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", @required = "required", @type = "email" })
                                <br />
                                <div class="alert alert-danger">
                                    <strong>Dikkat!</strong>&nbsp;&nbsp;&nbsp; Bu işlemden sonra yeniden giriş yapmanız gerekmektedir.
                                    <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Güncelle">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Vazgeç</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal" id="myModal2">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Şifreni Değiştir</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        @using (Html.BeginForm("WriterEditPassword", "Writer", FormMethod.Post))
                        {
                            <div class="modal-body">


                                <label for="exampleInputName1">Yeni Şifre</label>
                                <input type="password" name="WriterPassword" id="WriterNewPassword" class="form-control" value="" required="" />
                                <br />
                                <label for="exampleInputName1">Yeni Şifre Doğrula</label>
                                <input type="password" name="WriterNewPasswordCheck" id="WriterNewPasswordCheck" class="form-control" value="" required="" />
                                <span id='messageConfirm'></span>
                                <br />
                                <div class="alert alert-danger">
                                    <strong>Dikkat!</strong>&nbsp;&nbsp;&nbsp; Bu işlemden sonra yeniden giriş yapmanız gerekmektedir.
                                    <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <input type="submit" id="submit" class="btn btn-primary" value="Güncelle">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Vazgeç</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>     
            if ($('#WriterNewPassword').val() != null) {
                $('#WriterNewPassword, #WriterNewPasswordCheck').on('keyup', function () {
                    if ($('#WriterNewPassword').val() == $('#WriterNewPasswordCheck').val()) {
                        $('#messageConfirm').html('Şifreler Aynı').css('color', 'green');
                        document.getElementById('submit').disabled = false;
                    } else {
                        $('#messageConfirm').html('Yeni Şifreler Farklı').css('color', 'red');
                        document.getElementById('submit').disabled = true;
                    }
                });
            }

</script>
<script type="text/javascript">
    $('.custom-file-input').on('change', function () {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });</script>