
@model UserSignInViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@if (TempData["AlertUpdate"] != null)
{
    <div class="alert alert-success">
        <strong>Başarılı!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertUpdate"]
        <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
    </div>
    <br />

}
@if (TempData["AlertLogin"] != null)
{
    <div class="alert alert-warning">
        <strong>Başarısız!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertLogin"]
        <button aria-hidden="true" data-dismiss="alert" class="close" style="background-color:transparent;  border:hidden;" type="button">x</button>
    </div>
    <br />

}



<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Giriş Yap</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post">
                   
                    <div class="form-group">
                        <label for="exampleInputEmail1 mb-2">Email</label>
                        <input type="text" class="form-control" asp-for="@Model.username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                    </div> @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="exampleInputPassword1 mb-2">Şifre</label>
                        <input type="password" asp-for="@Model.password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" asp-for="@Model.RememberMe" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                    <p><a href="/Register/Index/">Kayıt Ol</a></p>
                    <p><a href="/Login/PasswordReset/">Şifremi Unuttum</a></p>


                </form>

            </div>
        </div>
    </div>
</section>
