@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.Message>
@{
    ViewData["Title"] = "InBoxSend";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<head>

    <link href="~/Admin/stylemes.css" rel="stylesheet">
    <link href="~/Admin/font-awesome.css" rel="stylesheet">

</head>

<div id="wrapper">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
            
                            <h5>Dosyalar</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/Inbox"> <i class="mdi mdi-inbox-arrow-down"></i> Gelen Kutusu <span class="label label-warning" style="width:1px; float:right; text-align:center;">@ViewBag.InboxR</span> </a></li>
                                <li><a href="/Admin/AdminMessage/InBoxSend"> <i class="mdi mdi-inbox-arrow-up"></i> Gönderilenler <span class="label label-warning" style="width:1px; float:right; text-align:center;">@ViewBag.InboxRS</span> </a></li>
                                <li><a href="/Admin/AdminMessage/SendMessage"> <i class="mdi mdi-account-network"></i> Mesaj Gönder</a></li>

                            </ul>
                            <div class="clearfix"></div>
                     
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">


                    <h2>
                        Giden Kutusu (@ViewBag.InboxRS)<small>>@ViewData["CurrentFilter"]</small>
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right fa">
                            <br />
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("InBoxSend", new { page, SearchString = ViewData["CurrentFilter"] }))



                        </div>
                        <a style="float:right;" class="btn btn-white btn-sm " title="Refresh inbox" asp-action="InboxSend"><i class="mdi mdi-account-convert"></i> Refresh</a>


                    </div>
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)">
                                <i class="mdi mdi-magnify fs-4"></i>
                            </a>
                            <a>Ara</a>
                            <form method="get" class="app-search position-absolute">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search &amp; enter" value="@ViewData["CurrentFilter"]" name="SearchString" />
                                <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr class="read">
                                    <td class="check-mail">
                                        <input type="checkbox" class="i-checks">
                                    </td>
                                    <td><img width="31" src="~/WriterImageFiles/@item.ReceiverUser.Image" /></td>
                                    <td class="mail-ontact"><a href="/Admin/AdminMessage/MessageDetails/@item.MessageID">@item.ReceiverUser.NameSurname</a></td>
                                    <td class="mail-subject"><a href="/Admin/AdminMessage/MessageDetails/@item.MessageID">@item.Subject</a></td>
                                    <td class=""></td>
                                    <td class="text-right mail-date">@item.MessageDate.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>









