@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.PageVisit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="row">
    <ul class="navbar-nav float-start me-auto" style="margin-left:15px;">
        <li class="nav-item search-box">
            <a class="nav-link waves-effect waves-dark"
               href="javascript:void(0)">
                <i class="mdi mdi-magnify fs-4"></i>
            </a>
            <a>Ara</a>
            <form method="get" class="app-search position-absolute">
                <input type="text"
                       class="form-control"
                       placeholder="Search &amp; enter" value="@ViewData["CurrentFilterSearch"]" name="SearchString" />
                <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
            </form>
        </li>
    </ul>
</div>
<body>
    <div class="@*page-wrapper*@">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sayfa Ziyaretci Sayıları<small> >@ViewData["CurrentFilterSearch"]</small></h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <a style="color:black;" asp-action="Index" asp-route-sortOrder="@ViewData["UrlSortParam"]" asp-route-SearchString="@ViewData["CurrentFilterSearch"]">Ziyaret Edilen Sayfa</a>
                                            @if (ViewData["CurrentSort"] != null)
                                            {


                                                @if (ViewData["CurrentSort"].ToString() == "Url")
                                                {
                                                    <i class="fas fa-arrow-up"></i>
                                                }
                                                else if (ViewData["CurrentSort"].ToString() == "UrlDesc")
                                                {
                                                    <i class="fas fa-arrow-down"></i>
                                                }
                                            }
                                        </th>
                                        <th>
                                            <a style="color:black;" asp-action="Index" asp-route-sortOrder="@ViewData["VisitSortParam"]" asp-route-SearchString="@ViewData["CurrentFilterSearch"]">Ziyaretci Sayısı</a>
                                            @if (ViewData["CurrentSort"] != null)
                                            {


                                                @if (ViewData["CurrentSort"].ToString() == "Visit")
                                                {
                                                    <i class="fas fa-arrow-up"></i>
                                                }
                                                else if (ViewData["CurrentSort"].ToString() == "VisitDesc")
                                                {
                                                    <i class="fas fa-arrow-down"></i>
                                                }
                                            }
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                            <tr>
                                                <td>@item.PageID</td>
                                                <td>@item.PageUrl</td>
                                                <td>@item.Visits</td>
                                            </tr>

                                      
                                    }
                            </table>
                            <br />

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, SearchString = ViewData["CurrentFilterSearch"], sortOrder = @ViewData["CurrentSort"] }))

</body>

