@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.WriterApplication>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@if (TempData["AletrMessageApp"] != null)
{
    <div class="alert alert-success">
        <strong>Başarılı!</strong>&nbsp;&nbsp;&nbsp; @TempData["AletrMessageApp"]
    </div>
    <br />
}


<body>
    <div class="row">
        <ul class="navbar-nav float-start me-auto" style="margin-left:15px;">
            <li class="nav-item search-box">
                <a class="nav-link waves-effect waves-dark"
                   href="javascript:void(0)">
                    <i class="mdi mdi-magnify fs-4"></i>
                </a>
                <a>Ara</a>
                <form method="get" class="app-search position-absolute">
                    <input type="text"
                           class="form-control"
                           placeholder="Search &amp; enter" value="@ViewData["CurrentFilterSearch"]" name="SearchString" />
                    <a class="srh-btn"><i class="mdi mdi-window-close"></i></a>
                </form>
            </li>
        </ul>
    </div>
    <div class="@*page-wrapper*@">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yazar Başvuruları<small> >@ViewData["CurrentFilterSearch"]</small></h4>
                    </div>
                    @foreach (var item in Model)
                    {


                        <div class="comment-widgets scrollable">
                            <div class="d-flex flex-row comment-row mt-0">
                                <div class="p-2">
                                    <img src="~/WriterImageFiles/@item.User.Image"
                                         alt="user"
                                         width="50"
                                         class="rounded-circle" />
                                </div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">@item.User.NameSurname  </h6><h6 class="font-medium" style="text-align:left;">Email: @item.User.Email</h6>
                                    <span class="mb-3 d-block">
                                        <small>Üniversite:@item.ApplicationUniversity &nbsp;&nbsp;&nbsp;&nbsp;Bölüm: @item.ApplicationUniversityDepartment  &nbsp;&nbsp;&nbsp;&nbsp; <a style="color:dimgray;" href="~/WriterApplicationPdf/@item.ApplicationCV">Pdf:<i class="mdi mdi-file-pdf-box"></i></a></small>
                                        <br />
                                        Ön Yazı: @item.ApplicationCoverLetter
                                    </span>
                                    <div class="comment-footer">
                                        <span class="text-muted float-end"> @(((DateTime)item.ApplicationDate).ToString("dd-MMM-yyyy"))</span>
                                        <a type="button" href="/Admin/WriterApplication/WriterApplicationRefuse/@item.ApplicationID/"
                                           class="btn btn-cyan btn-sm text-white">
                                            Kabul Etme ve pdf'i Sil
                                        </a>
                                        <a type="button" href="/Admin/WriterApplication/GiveWriterTag/@item.UserID/"
                                           class="btn btn-success btn-sm text-white">
                                            Kabul Et Ve Yetki Ver (Kayıtlı CV ve veriler silinir)
                                        </a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    }
                </div>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, SearchString = ViewData["CurrentFilterSearch"] }))
            </div>

        </div>
    </div>


</body>