@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrate.CommentProduct>
<body>
    <div class="@*page-wrapper*@">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yorumlar</h4>
                    </div>
                    @foreach (var item in Model)
                    {

                        <div class="comment-widgets scrollable">
                            <div class="d-flex flex-row comment-row mt-0">
                                <div class="p-2">
                                    <img src="~/Admin/assets/images/users/1.jpg"
                                         alt="user"
                                         width="50"
                                         class="rounded-circle img-fluid" />
                                </div>
                                <div class="comment-text w-100">
                                    <h6 class="font-medium">@item.CommentProductUserName  </h6><h6 class="font-medium" style="text-align:left;">@item.CommentProductTitle</h6>
                                    <span class="mb-3 d-block">
                                        @item.CommentProductContent
                                    </span>
                                    @if (item.CommentProductStatus == true)
                                    {
                                        <h6>Aktif</h6>
                                    }
                                    else
                                    {
                                        <h6>Pasif</h6>
                                    }

                                    <div class="comment-footer">
                                        <span class="text-muted float-end"> @(((DateTime)item.CommentProductDate).ToString("dd-MMM-yyyy"))</span>
                                        <button type="button" id="@item.ProductID" onclick="reply_clickA(this.id)" value=""
                                                class="btn btn-cyan btn-sm text-white">
                                            Sil
                                        </button>
                                        <button type="button" id="btnUpdatebyıdProduct" onclick="reply_clickB(this.id)"
                                                class="btn btn-success btn-sm text-white">
                                            Onayla
                                        </button>

                                    </div>
                                </div>
                            </div>


                        </div>

                    }
                </div>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("ProductReadAll", new { page }))
            </div>

        </div>
    </div>


</body>

