@model IEnumerable<EntityLayer.Concrate.Blog>
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<body>



    <section class="banner-bottom">

        <div class="container">
            <div class="row">

                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="#">
                                        <img src="~/BlogImageFiles/@item.BlogImage" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i>  @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-star"></i>@(((decimal)ViewBag.raytingstar).ToString())
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-comment"></i> @ViewBag.CommentCount Yorum
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="#">@item.BlogTitle</a>
                            </h3>
                            <p>
                                @Html.Raw(item.BlogContent)
                            </p>
                            <a href="/Blog/Index/" class="btn btn-primary read-m">Bloglar</a>
                        </div>
                    }

                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i, page = ViewBag.page })

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml", Model, new ViewDataDictionary(ViewData) { { "PartialAddComment", ViewBag.i } })

                    <br />
                    <small>Sayfa Görüntülenme Sayısı:  @ViewBag.viewvalue</small>
                </div>


                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        <h4>Mail Bütletine Abone Olun</h4>
                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                        @await Component.InvokeAsync("CategoryList")

                        @foreach (var item in Model)
                        {
                            @await Component.InvokeAsync("WriterLastBlog", new { id = item.UserID })
                            <div class="tech-btm">
                                <h4>Yazar</h4>

                                <div class="blog-grids row mb-3">
                                    <div class="col-md-6" style="margin-left:22.5%;">
                                        <a href="#">
                                            <img src="~/WriterImageFiles/@item.User.Image" class="img-fluid" alt="">
                                        </a>
                                    </div>

                                    <div class="col-md-12 blog-grid-top">

                                        <h5>
                                            <br />
                                            <a href="#">@item.User.NameSurname</a>
                                        </h5>
                                        <div class="sub-meta" style="text-align:justify;">
                                            <span>

                                                @item.User.About
                                            </span>
                                            <br />
                                            <div style="text-align:center">
                                                <a href="/Message/SendMessage/@item.UserID" class="btn btn-secondary">Mesaj Gönder</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                </aside>

            </div>
        </div>
    </section>

    <script type="text/javascript">
        function CRateOut(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#span" + i).attr('class', 'fa fa-star-o');
            }
        }
        function CRateOver(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#span" + i).attr('class', 'fa fa-star checked');
            }
        }
        function CRateClick(rating) {
            $("#lblRating").val(rating);
            for (var i = 1; i <= rating; i++) {
                $("#span" + i).attr('class', 'fa fa-star checked');
            }
            for (var i = rating + 1; i <= 5; i++) {
                $("#span" + i).attr('class', 'fa fa-star-o');
            }
        }
        function CRateSelected() {
            var rating = $("#lblRating").val();
            for (var i = 1; i <= rating; i++) {
                $("#span" + i).attr('class', 'fa fa-star checked');
            }
        }

    </script>
</body>

